<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>

	  <add name="C_BASE_BDD_AZURE" connectionString="metadata=res://*/C_BASE_AZURE_4REAL.csdl|res://*/C_BASE_AZURE_4REAL.ssdl|res://*/C_BASE_AZURE_4REAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-bdd-vi.database.windows.net;initial catalog=BDD-GUITARE-EZN;persist security info=True;user id=vi;password=Monstre159;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>